.ButtonPusto {
    background: black;
    color: white;
    border-radius: 20px;
    height: 40px;
    width: 140px;
    border: none;
}

.ButtonPusto:hover {
    background: rgba(0, 0, 0, 0.82);
    border: none;
    cursor: pointer;
}

.basketContent {
    display: flex;
    flex-direction: row;
    gap: 10px;
    min-height: 100%; /* изменено */
    width: 100%;
}

.KorzVsego {
    display: flex;
    flex-direction: row;
    justify-content: flex-end; /* изменено */
    gap: 40px;
}

.KorzVsegoText {
    font-size: 25px;
}

.KorzVsegobutton {
    font-size: 15px;
}

.KorzVsegobutton:hover {
    color: rgb(117, 117, 117);
}

.OformlenieCont {
    width: 100%;
    @media (max-width: 1090px) {
        width: 100%;
    }
}

.Oformlenie {
    background: #252525;
    height: fit-content;
    width: 100%;
    position: sticky
}

.paddingCont {
    padding: 30px 30px 30px 30px;
}

.baskZagol {
    font-size: 22px;
    font-weight: bold;
}

.whiteText {
    color: white;
}

.baskText {
    font-size: 20px;
    font-weight: 500;
}

.grayText {
    color: #969595;
}

.inpGor {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.inpBasklog {
    outline: none;
    border: none;
    background: transparent;
    border-bottom: 1px solid rgb(255, 255, 255);
    -webkit-appearance: none;
    border-radius: 0;
    height: 30px;
    width: 100%;
}

.TelBask {
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* изменено */
    width: 100%;
    gap: 30px;
}

.AddrDost {
    width: 100%;
    height: 100px;
    border: 1px solid rgb(187, 187, 187);
    color: black;
}

.centerText {
    text-align: center;
}
.inpBasklog {
    z-index: 10;
    position: relative; 
    pointer-events: auto;
}


@media screen and (max-width: 1090px) {
    .basketContent {
        display: flex;
        flex-direction: column-reverse;
        gap: 10px;
        width: 100%;
        min-height: 100%; /* изменено */
    }

    .inpGor {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .Oformlenie {
        background: #252525;
        height: fit-content;
        width: 100%;
    }
}
