.imgback{
    position: absolute;
    left: 0;
    width: 100vi;
    height: 650px;
    object-fit: cover;
    object-position: bottom;
    z-index: -1;
}
.deviz{
    height: 650px;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    padding-left: 80px;
    color: white;
    flex-direction: column;
}
.devizbol{
    font-size: 65px;
}
.devizmal{
    font-size: 22px;
}
.linkHome{
    color: black;
    text-decoration: none;
}
.imgbuy{
    padding-right: 5px;
}