* {
    box-sizing: border-box; 
}

.inpItem {
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    margin-bottom: 10px;
    padding: 0 10px; 
    width: calc(100% - 22px);
    font-size: 14px;
    min-width: 100px;
}

.formItem {
    margin-bottom: 10px;
}

.PoleItem {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-size: 12px;
}

.PoleItem .ButtonAd {
    height: 30px;
    padding: 0 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    display: flex;
    align-items: center; 
    justify-content: center; 
    font-size: 14px;
    margin-top: 10px;
}

.Items {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.ButtonAdm {
    height: 30px;
    padding: 0 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    display: flex;
    align-items: center; 
    justify-content: center; 
    font-size: 14px;
}

.ButtonAdm:hover {
    background-color: #0056b3;
}

.ButtonAdm:active {
    background-color: rgba(0, 0, 0, 0.4);
    color: black;
    border: 2px solid black;
}

.gapButton {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    justify-content: space-between;
    gap: 10px;
    padding-left: 10px;
    margin-top: 13px;
}

.UploadImageButton {
    display: none; 
}

.UploadImageButtonLabel {
    height: 30px;
    padding: 0 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    margin-bottom: 10px;
    display: flex;
    align-items: center; 
    justify-content: center; 
}

.UploadImageButtonLabel:hover {
    background-color: #0056b3;
}

.UploadImageButtonLabel:active {
    background-color: rgba(0, 0, 0, 0.4);
    color: black;
    border: 2px solid black;
}

.PreviewImage {
    max-width: 200px;
    max-height: 200px;
    margin-bottom: 10px;
}

@media (max-width: 600px) {
    .inpItem {
        width: calc(100% - 22px);
        text-align: center;
        min-width: 100px;
    }

    .ButtonAdm,
    .UploadImageButtonLabel {
        min-width: 150px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .Items {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }
    .tabs {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .gapButton {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 13px;
        padding: 0;
        margin: 0;
        flex-wrap: wrap;
    }

    .admin-profile-add-button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 13px;
        padding: 0;
        margin: 0;
        flex-wrap: wrap;
    }
}

@media (min-width: 600px) and (max-width: 1000px) {
    .Items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
        border: 2px solid #007bff;
        border-radius: 10px;
        padding: 10px;
    }

    .formItem {
        margin-bottom: 10px;
    }

    .inpItem {
        width: 100%;
        min-width: 0;
    }
}

@media (min-width: 1001px) {
    .Items {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 10px;
        border: 2px solid #007bff;
        border-radius: 10px;
        padding: 10px;
    }
}

.admin-login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.admin-login-form {
    width: 300px;
}

.ButtonsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.CenteredMessages {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

@media (max-width: 590px) {
    .inpItem,
    label {
        font-size: 12px;
        text-align: center;
    }

    .ButtonAdm,
    .UploadImageButtonLabel {
        font-size: 12px;
    }

    .Items {
        display: flex;
        flex-direction: column;
        align-items: center;
        display: grid;
        border: 2px solid #007bff;
        border-radius: 10px;
    }
}
