* {
    box-sizing: border-box; 
}
.inpItem {
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    margin-bottom: 10px;
    padding: 0 10px; 
    width: calc(100% - 22px);
    font-size: 14px;
}

.PoleItem {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 20px;
    margin-right: 2px;
}

.Items {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.ButtonAdm {
    height: 30px;
    padding: 0 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    display: flex;
    align-items: center; 
    justify-content: center; 
    font-size: 14px;
}

.ButtonAdm:hover {
    background-color: #0056b3;
}

.ButtonAdm:active {
    background-color: rgba(0, 0, 0, 0.4);
    color: black;
    border: 2px solid black;
}

.gapButton {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    justify-content: space-between;
    gap: 10px;
    padding-left: 10px;
    margin-top: 20px;
}


.UploadImageButton {
    display: none; 
}

.UploadImageButtonLabel {
    height: 30px;
    padding: 0 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    margin-bottom: 10px;
    display: flex;
    align-items: center; 
    justify-content: center; 
}

.UploadImageButtonLabel:hover {
    background-color: #0056b3;
}

.UploadImageButtonLabel:active {
    background-color: rgba(0, 0, 0, 0.4);
    color: black;
    border: 2px solid black;
}

.PreviewImage {
    max-width: 200px;
    max-height: 200px;
    margin-bottom: 10px;
}

@media (max-width: 600px) {
    .inpItem {
        width: calc(100% - 22px);
    }

    .ButtonAdm,
    .UploadImageButtonLabel {
        width: 100%;
    }

    .gapButton {
        flex-direction: column; 
    }
    
    .Items {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 480px) {
    .inpItem,
    label {
        font-size: 12px;
    }

    .ButtonAdm,
    .UploadImageButtonLabel {
        font-size: 12px;
    }
    .Items {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
