.ButtonRes{
    background: black;
    color: white;
    border-radius: 20px;
    height: 40px;
    width: 140px;
    border: none;
}
.ButtonRes:hover{
    background: rgba(0, 0, 0, 0.82);
    border: none;
    cursor: pointer;
}
.ResText{
    font-size: 15px;
    text-align: center;
}
.warrior_black{
    text-align: center;
    font-size: 12px;
    color: black;
}
.ValidResetCode {
    color: green;
}

.InvalidResetCode {
    color: red;
}
