.ButtonRes{
    background: black;
    color: white;
    border-radius: 20px;
    height: 40px;
    width: 140px;
    border: none;
}
.ButtonRes:hover{
    background: rgba(0, 0, 0, 0.82);
    border: none;
    cursor: pointer;
}
.ResText{
    font-size: 15px;
    text-align: center;
}
.warrior_black{
    text-align: center;
    font-size: 12px;
    color: black;
}
.ValidResetCode {
    color: green;
}

.InvalidResetCode {
    color: red;
}

.Error {
    color: red;
    font-size: 0.875em;
    margin-bottom: 10px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.errorMessage {
  margin-bottom: 20px;
  text-align: center;
}
.SuccessMessage {
    color: green;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.Success {
    color: green;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.ButtonRes {
    background: black;
    color: white;
    border-radius: 20px;
    height: 40px;
    min-width: 140px;
    border: none;
}

@media screen and (max-width: 768px) {
    .ButtonRes {
        width: 100%; 
        max-width: 200px;
    }
}
