.App{
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x:hidden;
}
.contApp{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 50px;
  @media (max-width: 775px) {
    padding: 0 10px;
  }
  flex-direction: column;
}
.Content{
  padding: 0 50px;
  @media (max-width: 775px) {
    padding: 0 10px;
  }
}
