.App{
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x:hidden;
  margin: 0;
  flex-direction: column;
}
.content-wrapper {
  margin-bottom: 20px;
}
.contApp{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 50px;
  @media (max-width: 785px) {
    padding: 0 0;
  }
  flex-direction: column;
}
.Content{
  padding: 0 50px;
  @media (max-width: 785px) {
    padding: 0 0;
  }
}

@font-face {
font-family: "Comissioner";
src: url("../fonts/Commissioner-VariableFont_wght.ttf") format("truetype");
}

.Comissioner{
  font-family: "Comissioner";
  font-style: normal;
  font-weight: 470;
}

.ComissionerZitat{
  font-family: "Comissioner";
  font-style: oblique;
  font-weight: 350;
}
.chatbot-icon-container {
  position: fixed;
  bottom: 30px;
  right: 30px;
  cursor: pointer;
  z-index: 999;
}
.error {
  color: #ff2600db;
}
.errorList {
  position: relative;
  left: 10px;
  transform: translateY(-50%);
}

.errorItem {
  background-color: #ffe6e6;
  color: #ff3333;
  font-size: 14px;
  padding: 8px 12px;
  border-radius: 5px;
  margin-bottom: 5px;
  width: fit-content;
}


